.pickercomponent {
   display: flex;
   justify-content: space-between;
   width: 20%;
}

.counter {
   justify-content: center;
}

.genericButton {
   border-radius: 50%;
}

.countersum {
   composes: genericButton;
   background: green;
}

.counterrest {
   composes: genericButton;
   background: red;
}